* {
    padding: 0px;
    margin: 0px;
}


.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(92, 201, 209);
    font-family: sans-serif;
    font-size: 15px;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
}

.menu {
    font-size: medium;
    font-weight: bold;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

#header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

#video {
    display: block;
    height: 400px;
    width: 600px;
    margin-top: 50px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
}

#about {
    font-size: large;
    color: aliceblue;
    padding-top: 20px;
    text-align: center;
}

#about-2 {
    font-size: large;
    color: aliceblue;
    padding-top: 20px;
    text-align: center
}

#about-3 {
    font-size: large;
    color: aliceblue;
    padding-top: 20px;
    text-align: center;
}

#contact {
    padding-top: 30px;
    text-align: center;
    font-size: xx-large;
    color: aliceblue
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 355px;
    width: 400px;
    text-align: center;
}

#chips {
    height: 265px;
    width: 400px
}

#contact {
    padding-top: 100px;
}

#customer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}